body{
    background-color: rgb(28, 1, 53);
}

h1 {
    margin: 0 auto;
    color: white;
    text-align: center;
    padding: 10px;
}

form {
    margin: 0 auto;
    max-width: 200px;
    border: 3px solid whitesmoke;
    padding: 2rem;
    text-align: left;

}

label {
    display: block;
}

p {
    color: white;
}